<div>
<ul>
    <li>Username: {{data.username}}</li>
    <li>Gmail: {{data.gmail}}</li>
    <li>Age: {{data.age}}</li>
    <li>PhoneNumber: {{data.phoneNumber}}</li>
    <li>Image: <img src="{{data.image}}" alt="" height="20px" width="19px"></li>
</ul>
</div>