<table style="border: 1px black solid;">
  {{#if productos}}
  <thead>
  <tr>
    <th id="id">ID</th>
    <th id="nombreHeader">Nombre</th>
    <th id="apellidoHeader">Precio</th>
    <th id="edadHeader"> Imagen</th>
  </tr>
  </thead>
  <tbody id="listaDeProductos">
  {{#each productos}}
    <tr>
      <td>
        {{this._id}}
      </td>
      <td>
        {{this.title}}
      </td>
      <td>
        ${{this.price}}
      </td>
      <td>
       <img class="image-table rounded" src={{this.thumbnail}} alt="Error"> 
      </td>
    </tr>
   {{/each}}
   </tbody>
   {{else}}
   <h2 class="text-danger">No se encontraron productos</h2>
   {{/if}}
   
</table>